.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
    display: flex;
	  flex-wrap: wrap;
	  justify-content: space-around;
    
}
  
.grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.center {
    text-align: center;
    margin: auto;
}

.book {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.book:hover {
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.book img:hover {
  cursor: pointer;
  transform: rotateY(-28deg) rotateZ(-2deg) scale(1.02);
  -webkit-backface-visibility: hidden;
  box-shadow: 1px 3px 2px burlywood, 20px 8px 0 burlywood;
  /* transform: scale(1.02); */
}

.book img:hover::after {
  content: " ";
  display: block;
  opacity: 1;
  width: 172px;
  position: relative;
  left: 8px;
  background: linear-gradient(-180deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 0) 60%);
}

.book img:hover::before {
  transform: translateY(9px);
  opacity: 1;

}

.book img {
width: 100%;
height: auto;
  object-fit: contain;
  transition: all .5s ease-in-out;
  transform-origin: left center 0px;
  transform-style: preserve-3d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}

.book h2 {
font-size: 24px;
margin: 20px 0 10px;
}

.book p {
font-size: 18px;
line-height: 1.5;
margin-bottom: 20px;
}

button {
background-color: #4CAF50;
border: none;
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-top: 10px;
cursor: pointer;
border-radius: 5px;
}

@media (max-width: 780px) {

  .container {
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  .grid-3 {
    grid-template-columns: 1fr;
  }

  .book-section div {
    padding: 1.2rem 1rem;
  }

  .book {
    width: 250px;
  }
}