.sketchfab-embed-wrapper {
    width: 100%;
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    opacity:0.7;
    z-index: 0;
    transform: translateY(-1200px);
}

@media (max-width: 780px) {
    .sketchfab-embed-wrapper {
        pointer-events: none;
        transform: translateY(3px);
      }
}