.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
    display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
    transform: translateX(50px);
}

.grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.center {
    text-align: center;
    margin: auto;
}

.book--1 .book__img, .book--1 .book__img--hover {
  background-image: url('https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.book__img {
visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;

}

.book__info-hover {
  position: absolute;
  padding: 16px;
width: 100%;
opacity: 0;
top: 0;
}

.book__img--hover {
transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
position: absolute;
  height: 235px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
}

.book {
transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
background-color: #fff;
  width: 75%;
position: relative;
border-radius: 12px;
overflow: hidden;
box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);

}

.book:hover {
box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.book__info {
z-index: 2;
background-color: #fff;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
 padding: 16px 24px 24px 24px;
}

.book__category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
color: #868686;
}

.book__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.book__by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.book__author {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52;
}

.book:hover .book__img--hover {
  height: 100%;
  opacity: 0.3;
}

.book:hover .book__info {
  background-color: transparent;
  position: relative;
}

.book:hover .book__info-hover {
  opacity: 1;
}

.sketchfab-embed-wrapper {
  width: 100%;
  display: flex;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  opacity:0.7;
  z-index: 0;
  transform: translateY(-1000px);
}

@media (max-width: 780px) {

  .container {
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    display: block;
    transform: translateX(-5px);
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }

  .book-section div {
    padding: 1.2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .book__info, .book__info-hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sketchfab-embed-wrapper {
    pointer-events: none;
  }
}