a {
text-decoration: none;
color: inherit; 
font-family: Avenir, sans-serif;
}

.button {
position: relative;
margin: auto;
transition: all .2s ease;
padding: 19px 25px;
}
.button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: #605567;
    width: 56px;
    height: 56px;
    transition: all .3s ease; 
}
/* Change the span class name accordingly */
.button span {
    position: relative;
    font-size: 0.8rem; 
/*     Change the font size */
    line-height: 18px;
    
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle; 
}
.button:hover:before {
    width: 85%;
    background: #605567; 
}
.button:active {
    transform: scale(0.96); 
}
