/* Divider section 1 */
.custom-shape-divider-top-1681408915 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 101;
}

.custom-shape-divider-top-1681408915 svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 236px;
    transform: translateY(10px);
}

.custom-shape-divider-top-1681408915 .shape-fill {
    fill: #040404;
}

.custom-shape-divider-top-1681408915 .divider-title {
    position: relative;
    z-index: 1;
    color: #F5F5F5;
}


.custom-shape-divider-top-1681408915 .divider-title h1 {
    transform: rotate(180deg) translateY(-190px);
    font-size: 3.3rem;
    float: right;
    padding-left: 50px;
    height: 40px;
}

.custom-shape-divider-top-1681408915 .divider-title h1::before {
        content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    border-bottom: var(--dash);
    transform: rotate(-2deg);
    transform-origin: bottom;
    border-bottom-width: 12px;
}

.custom-shape-divider-top-1681408915 .divider-title h3 {
    transform: rotate(180deg) translateY(-155px) translateX(-150px);
    font-size: 1.6rem;
    float: right;
    font-style: italic;
}

.custom-shape-divider-top-1681408915 .divider-title a {
    transform: rotate(180deg) translateY(-210px);
    float: left;
    color: #F5F5F5;
    padding-right: 40px;
    text-decoration: none;
}

@media (max-width:500px) {
    .custom-shape-divider-top-1681408915 .divider-title h1 {
        transform: rotate(180deg) translateY(-180px);
        font-size: 2.5rem;
        border-bottom-width: 10px;
    }

    .custom-shape-divider-top-1681408915 .divider-title h4 {
        display: none;
    }

    .custom-shape-divider-top-1681408915 .divider-title h3 {
        transform: rotate(180deg) translateY(-160px) translateX(-150px);
        font-size: 1.3rem;
        float: right;
        font-style: italic;
    }
}

@media (max-width:375px) {
    .custom-shape-divider-top-1681408915 .divider-title h3 {
        display: none;
    }

    .custom-shape-divider-top-1681408915 .divider-title h1 {
        transform: rotate(180deg) translateY(-180px) translateX(-25px);
        font-size: 2.2rem;
    }
}

/* Divider section 2 */
.custom-shape-divider-top-1681408915 .divider-title h4 {
    transform: rotate(180deg) translateY(-155px) translateX(-190px);
    font-size: 1.6rem;
    float: right;
    font-style: italic;
}
/* Divider section 3 */
.book-section3 {
    position: relative;
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 3rem 3rem 3rem;
    border-radius: 65% 35%;
    background-color: black;
    width: fit-content;
    z-index: 101;
}

.book-section3 img {
    max-width: 100%;
    border-radius: 25%;
}

.book-section3 div {
    padding-left: 150px;
    position: absolute;
    font-size: 2rem;
    display: block;
    margin: 90px;
    color: #F5F5F5;
}