.sketchfab-embed-wrapper {
    overflow: hidden;
    position: fixed;
    opacity:0.7;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.sketchfab-embed-wrapper iframe {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
}
    