.landing {
  position: relative;
  z-index: 3;
  overflow-x: hidden;
  height: 100%;
}

.landing .bg-layer {
  position: absolute;
  height: 70vh;
  width: 125%;
  background-image: url("../../../public/assets/cover-bookstore.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  z-index: 0;
}

.landing::after {
    content: '';
    height: 70vh;
    width: 125%;
    background-image: url("../../../public/assets/cover-bookstore.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    transition: all 700ms;
    overflow: hidden;
}
  
.landing:hover::after {
filter: blur(0px);
-webkit-filter: blur(0px);
}

.landing:hover .content {
filter: blur(2px);
-webkit-filter: blur(2px);
}

.content {
position: absolute;
z-index: 1;
top: 10%;
left: 50%;
margin-top: 40px;
margin-left: -145px;
width: 300px;
height: 400px;
text-align: center;
transition: all 700ms;
}

.content .logo {
height: 220px;
width: 220px;
}

.content .title {
font-size: 2.6rem;
margin-top: 1rem;
color: #F5F5F5;
}

.content .title ~ .bookstore {
  border-bottom: 4px solid;
  padding-bottom: 7px;
  width: fit-content;
  margin: 0 auto;
}

  /* Small Screens */
@media (max-width: 780px), (max-height: 600px) {
    .landing::after {
      height: 50vh;
    }

    .landing {
      overflow-x: hidden;
      overflow-y: hidden;
    }
  
    .content {
      top: 5%;
      margin-top: 5px;
    }
  
    .content .logo {
      height: 120px;
      width: 120px;
    }

    .content .title {
      font-size: 2.3rem;
    }
  
    /* .content .text {
      display: none;
    } */
}