/* RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Do Le Long An
  ID: s3963207
  Acknowledgement: 
  MDN Web Docs, RMIT Canvas (HTML, CSS learning materials)
  shapedivider.app (For wavy divider svg), 
  sketchfab.com (For the 3D background)
  unplash.com (For quality images)
  flaticon.com, fontawesome.com (For icons and fonts)
  dribble.com, canva.com, Codepen.com (For design idea inspiration) */

.sketchfab-embed-wrapper {
    overflow: hidden;
    position: fixed;
    opacity:0.7;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.sketchfab-embed-wrapper iframe {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    cursor: grab;
}

.sketchfab-embed-wrapper iframe:active {
    cursor: grabbing;
}
    