.cards {
    margin: 0 auto 5% auto;
    max-width: 1060px;
    text-align: center;
}
.card {
    background: transparent;
    display: inline-block;
    margin: 8px 25px;
    max-width: 300px;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    width: 300px;
    z-index: 1;
    font-family: var(--roboto);
}
.card img {
    max-width: 300px;
    object-fit: contain;
}
.card .card__image-holder {
    height: 0;
    padding-bottom: 75%;
}
.card .card-title {
    background: black;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
    opacity: 0.9;
    margin-top: 10px;
    border-radius: 12px;
}
.card .card-title a.toggle-info {
    border-radius: 32px;
    height: 32px;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 32px;
}
.card .card-title a.toggle-info span {
    background: #ffffff;
    display: block;
    height: 2px;
    position: absolute;
    top: 16px;
    transition: all 0.15s 0s ease-out;
    width: 12px;
}
.card .card-title h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
    color: white;
    position: relative;
    z-index: 1;
    opacity: 1;
}
.card .card-title h2 small {
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.025em;
}

.card .card-title h2 p {
    display: block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.025em;

}
