/* RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Do Le Long An
  ID: s3963207
  Acknowledgement: 
  MDN Web Docs, RMIT Canvas (HTML, CSS learning materials)
  shapedivider.app (For wavy divider svg), 
  sketchfab.com (For the 3D background)
  unplash.com (For quality images)
  flaticon.com, fontawesome.com (For icons and fonts)
  dribble.com, canva.com, Codepen.com (For design idea inspiration) */

.contact-us{
    position: relative;
    margin: 0 auto 200px auto;
    top: 50%;
    left: 0;
    right: 0;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    max-width: 650px;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transform: scale(1.2);
    font-size: 1.5rem;
    z-index: 500;
  }
  
  .contact-us .title h1{
    color: #F5F5F5;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .contact-form{
    display: flex;
  }

  .other-fields {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: var(--avenir);
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: left;
    gap: 20px;
    width: fit-content;
  }

  .input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
  }
  
  .input-fields,
  .msg{
    width: 48%;
  }
  
  .input-fields .input,
  .msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #F5F5F5;
    padding: 10px;
    color: #F5F5F5;
    width: 100%;
    font-size: 1.2rem;
    font-family: var(--avenir);
  }
  
  .msg textarea{
    height: 212px;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #F5F5F5;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #F5F5F5;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #F5F5F5;
  }
  
  .send-btn,
  .reset-btn {
      text-align: center;
      padding: 10px;
      border-radius: 12px;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
      display: block;
      margin-top: 10px;
      font-size: 1.2rem;
  }

  .send-btn {
    background: var(--primary-color);
  }

  .reset-btn {
    background: var(--secondary-color);
  }
  
  @media screen and (max-width: 780px){
    .contact-form{
      flex-direction: column;
    }
    .msg textarea{
      height: 80px;
    }
    .input-fields,
    .msg{
      width: 100%;
    }
    .contact-us {
        transform: scale(1);
    }
  }