.category-footer,
.home-footer,
.general-footer,
.sub-category-footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    padding: 0 0 30px 0;
}

.category-footer,
.sub-category-footer {
    margin-top: 25%;
}

.sub-category-footer {
    transform: translateY(8%);
}

.home-footer {
    margin-top: -400px;
}

footer div p {
    text-align: center;
    font-size: 1.2rem;
    padding: 0 15px 20px 15px;
}

.footer-nav ul {
position: relative;
list-style: none;
text-align: center;
margin: 0;
padding: 0;
display: flex;
justify-content: space-around;
align-items: center;
text-transform: uppercase;
}

.footer-nav li {
margin: 0 20px;
}

.footer-nav li:first-child {
margin-left: 21px;
}

.footer-nav li:last-child {
margin-right: 0;
}

.footer-nav a {
text-decoration: none;
color: #000000;
font-size: 18px;
cursor: pointer;
}

.footer-nav a:hover {
    color: var(--secondary-color);
    transform: scale(1.05);
}

.footer-info {
text-align: center;
padding-top: 30px;
margin-bottom: -30px;
}

.footer-info p {
font-size: 14px;
color: #808080;
display: inline-block;
}

.footer-info p a {
    color: blue
}

.footer-info p:first-child {
margin-left: 0;
}

.footer-info p:last-child {
margin-right: 0;
}

.footer-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    border-top: 17px solid var(--primary-color);
    border-bottom: 17px solid var(--primary-color);
}
.footer-social p{
    transform: translateX(-17px);
}
.footer-social i {
    transform: scale(2.5) translateX(-6px);
    margin: 0 20px;
}

.footer-social i:hover {
    color: var(--secondary-color);
}

@media (max-width:500px) {
    .footer-nav ul {
        flex-direction: column;
        position: relative;
        align-items: flex-start;
    }

    .footer-social p{
        transform: translateX(0);
    }

    .footer-social i {
        transform: scale(2.5) translateX(0);
    }

    .home-footer {
        margin-top: -150%;
    }
}